* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ff6900;
    color: white;
    height: 60px;    
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

a {
    text-decoration: none;
}

footer {
    background-color: #1a1a1a;
    height: 150px;
    color: white;
    padding-top: 2rem;
}

hr {
    border: 1px solid white;
}

/* HEADER CLASSES */

.header-container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.headsect {
    width: calc(100% / 3);
    display: flex;
    gap: 1rem;
}

/* FLEX DIRECTIONS */

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.logo {
    justify-content: center;
}

/* LINK GENDERS E LOGO */

.headsect a {
    color: white;
}

.logo img {
    max-height: 30px;
}

/* MAIN CLASSES */

.row {
    max-width: 960px;
    display: flex;        
    gap: 1rem;
    padding-top: 3rem;
}

.col {
    flex-basis: calc(100% / 3);
}

.product {
    position: relative;
}

.product img {
    width: 100%;
}

.product span:last-of-type {
    color: red;
    font-weight: bold;
}

.label {
    position: absolute;
    bottom: 17%;
}

.discount, .sost {
    display: inline-block;
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
}

.discount {
    background-color: red;
    margin-right: 0.4rem;    
}

.sost {
    background-color: green;
}

/* IMAGE CHANGE EFFECTS */

.product-img-hover {
    display: none;
}

.product:hover .product-img-hover {
    display: inline-block;
}

.product:hover .product-img {
    display: none;
}

/* HEART AND HOVER */

.heart {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2.5rem;
}

.heart:hover {
    color: red;
}

/* FOOTER CLASSES */

.foot-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot-container h4 {
    padding-bottom: 0.7rem;
}

.foot-container a {
    color: white;
    font-size: 0.75rem;
    padding-right: 0.3rem;
}

.foot-container h5 {
    padding-bottom: 0.4rem;
}

.foot-container i {
    padding-right: 0.4rem;
}